<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Keys</title>
</head>

<body>
    <h2>Enter Existing Keys</h2>
    <form method="POST">
        <label for="public_key">Public Key:</label><br>
        <textarea name="public_key" rows="4" cols="50" placeholder="Enter Public Key"></textarea><br><br>

        <label for="private_key">Private Key:</label><br>
        <textarea name="private_key" rows="4" cols="50" placeholder="Enter Private Key"></textarea><br><br>

        <button type="submit">Submit</button>
    </form>
</body>

</html>